<div class="container">
	<footer class="footer" >
		<big>
			Copyright &copy<a href="<% articles_path %>">Anand-Blog</a>
		</big>
		<nav>
		  <ul>
		    <big><li><%= link_to "About",welcome_about_path %></li></big>
		  </ul>
		</nav>
	</footer>
</div>